.idea/
*.iml
.DS_Store
target/
dependency-reduced-pom.xml
spark-warehouse/

# Eclipse IDE
.settings/
# Java annotation processor (APT)
.factorypath
.classpath
.project
.vscode

application-local.yml
application-local.yaml
