<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <property name="log.path" value="/tmp/flink/sojourner-rt.log" />

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%date{ISO8601} [%.-15t] %-5level %logger{40} - %msg%n</Pattern>
    </encoder>
  </appender>

  <!--log to file-->
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${log.path}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${log.path}/sojourner-app-%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%.-15t] %-5level %logger{40} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.ebay.epic.soj" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="console"/>
    <appender-ref ref="file" />
  </root>

</configuration>